<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>75 Networks</span>

    <span class="example-spacer"></span>
    
    <a routerLink="/home" routerLinkActive="active" style="color: white;"><button mat-button>Home</button></a>
    <a routerLink="/service" style="color: white;"><button mat-button>Services</button></a>
    <button mat-button>Contact</button>
    <a routerLink="/signin" style="color: white;"><button mat-button>SignIn</button></a>
    <a routerLink="/signup" style="color: white;"><button mat-button>SignUp</button></a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>


